/* MOBILE DEVICES */
@media screen and (max-width: 768px) {
  .filter-section {
    padding-bottom: 30%;
  }

  .break {
    height: 100px;
  }

  .events-section {
    display: flex;
    margin-top: 50%;
    padding-top: 50%;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
