/* MOBILE DEVICES */
@media screen and (max-width: 768px) {
  .eventCardContainer {
    flex: 100%;
  }

  .col1 {
    width: 80%;
    gap: 0.5rem;
  }

  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  .brand-color {
    width: 13%;
  }

  .location-tag {
    width: 60%;
    padding: 2%;
    font-size: 0.6rem;
  }

  .date-text {
    font-size: 0.6rem;
  }

  .time-text {
    font-size: 0.6rem;
    line-height: 0;
    margin-top: -10px;
  }
}
