@media screen and (max-width: 768px) {
  .filterFields {
    flex-direction: column;
    width: 80%;
    gap: 20px;
  }

  .formfields-sections {
    width: 100%;
  }
}

/* TABLETS */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .filterContainter {
    margin-top: -8.5%;
  }
}
