/* Styling for the App container */
.App {
  text-align: center;
  height: 100vh;
  background:
    conic-gradient(at 10% 50%, #0000 75%, #1d1b00a6 0),
    conic-gradient(at 10% 50%, #0000 75%, #1d1b00a6 0) calc(1 * 31px) calc(3 * 31px),
    conic-gradient(at 10% 50%, #0000 75%, #1d1b00a6 0) calc(2 * 31px) calc(1 * 31px),
    conic-gradient(at 10% 50%, #0000 75%, #1d1b00a6 0) calc(3 * 31px) calc(4 * 31px),
    conic-gradient(at 10% 50%, #0000 75%, #1d1b00a6 0) calc(4 * 31px) calc(2 * 31px),
    conic-gradient(at 50% 10%, #0000 75%, #1d1b00a6 0) 0 calc(4 * 31px),
    conic-gradient(at 50% 10%, #0000 75%, #1d1b00a6 0) calc(1 * 31px) calc(2 * 31px),
    conic-gradient(at 50% 10%, #0000 75%, #1d1b00a6 0) calc(2 * 31px) 0,
    conic-gradient(at 50% 10%, #0000 75%, #1d1b00a6 0) calc(3 * 31px) calc(3 * 31px),
    conic-gradient(at 50% 10%, #0000 75%, #1d1b00a6 0) calc(4 * 31px) calc(1 * 31px),
    #0f0f0f; /* Background gradient */

  background-size: 155px 155px; /* Background size */
}
