.filter-section {
  padding-bottom: 10%;
}

.events-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 90%;
  margin: auto;
  margin-top: 0;
  padding-top: 0;
  justify-content: space-between;
}
